node_modules
.env

/src/generated/prisma

# node_modules
# # Keep environment variables out of version control
# .env
# /node_modules

# # /src/generated/prisma

# /src/generated/prisma

# src/generated/prisma